<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrbitalSimOpenGL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OrbitalSimOpenGL.Properties.Settings>
            <setting name="NoInitJPL_BodiesCSVFile" serializeAs="String">
                <value>Not finding initial JPL bodies CSV file</value>
            </setting>
            <setting name="NoSaveBodiesCSV" serializeAs="String">
                <value>Unable to save bodies CSV file</value>
            </setting>
            <setting name="GatheringEphemerides" serializeAs="String">
                <value>Gathering ephemerides from JPL Horizons</value>
            </setting>
            <setting name="HorizonsCheckURL" serializeAs="String">
                <value>https://ssd.jpl.nasa.gov/horizons.cgi</value>
            </setting>
            <setting name="HorizonsEphemerisURL" serializeAs="String">
                <value>https://ssd.jpl.nasa.gov/horizons_batch.cgi?batch=1&amp;COMMAND='{Command}'&amp;CENTER='@0'&amp;MAKE_EPHEM='YES'&amp;EPHEM_TYPE='VECTOR'&amp;VEC_TABLE='3'&amp;START_TIME='{StartTime}'&amp;STOP_TIME='{StopTime}'&amp;STEP_SIZE='1h'&amp;OUT_UNITS='KM-S'&amp;CSV_FORMAT='YES'</value>
            </setting>
            <setting name="NoHorizonsConnection" serializeAs="String">
                <value>No connection to JPL Horizons</value>
            </setting>
            <setting name="AxisLength" serializeAs="String">
                <value>24000000000</value>
            </setting>
            <setting name="Origin" serializeAs="String">
                <value>Origin</value>
            </setting>
            <setting name="SystemBarycenter" serializeAs="String">
                <value>System barycenter</value>
            </setting>
            <setting name="ImagesDir" serializeAs="String">
                <value>Properties\Images</value>
            </setting>
            <setting name="ContinueStr" serializeAs="String">
                <value>Continue</value>
            </setting>
            <setting name="InitJPL_BodiesFile" serializeAs="String">
                <value>InitJPL_Bodies.csv</value>
            </setting>
            <setting name="SavedJPLBodiesFile" serializeAs="String">
                <value>SavedJPLBodies.csv</value>
            </setting>
            <setting name="SavedEphemerisBodiesFile" serializeAs="String">
                <value>SavedEphemerisBodies.json</value>
            </setting>
            <setting name="MaxCamMoveScale" serializeAs="String">
                <value>21</value>
            </setting>
        </OrbitalSimOpenGL.Properties.Settings>
    </userSettings>
</configuration>